.App {
  text-align: center;
  margin: 0 auto !important;
  max-width: 400px;
}
.component-container {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  text-align: left;
}

.button-container {
  display: flex;
  flex-direction: column;
}
.button-container button {
  margin-bottom: 0.5rem;
}